/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}



/*---------------------------------------------------stile sezione header -------------------------------------------------*/

/*----------------stile sezione nav "container1"-----------------------*/

.containerH {
    display: flex;
    min-height: 600px;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding: 10px 0px 10px 0px;
    
}

.containerH > .item1 {
    display: flex;
    height: 50px; 
    padding: 5px 0px 5px 0px;
    flex-basis:60%;
} 

.containerH > .item1 .logo {
    flex-basis: 5%;
    color: red;  
}

.containerH > .item1 .Link {
    flex-basis: 40%;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding-top: 10px;
    font-weight: bold;
} 

.containerH > .item1 .Login {
    flex-basis: 15%;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: black;
    background: white;
}

.containerH > .item1 .Link:active {
    color: black;
  }

.containerH > .item1 .Login:active {
    color: white;
  }

/* ------------------------------------------------------------------ */


/* item */

 .containerH > .item2 {
    flex-basis: 60%;
    min-height: 300px;
    color: white;
    text-align: center;
} 

.containerH > .item2 .Scarica {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 7px 5px 7px 5px;
    margin: 20px 10px 0px 0px;
    color: black;
    background: white;
}

.containerH > .item2 .Apri {
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 7px 5px 7px 5px;
    margin: 20px 10px 0px 0px;
    color: white;
    background: rgb(46, 46, 46);
}

/*----------------stile sezione main "container3"-----------------------*/

.containerM {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap:wrap;
}

/* item1 */

.containerM > .item1{
    display: flex;
    margin: 10px 0px 0px 0px;
    min-height: 400px;
    flex-basis: 70%;
}

.containerM > .item1 .imgM1{
    flex-basis: 50%;
}

.containerM > .item1 .item2{
    flex-basis: 20%;
}

.containerM > .item1 .item2 h2{
    font-size: 40px;
    color: black;
    text-align: left;
    
}

.containerM > .item1 .item2 p{
    color: black;
    margin-top: 35px;
    font-weight: bold;
}
/* item2 */

.containerM > .item2{
    display: flex;
    justify-content: center; 
    flex-wrap:wrap;
    padding: 30px 0px 30px 0px;
    background-color: rgb(238, 237, 237);  
    min-height: 400px;
    width: 100%;
}


/* immagini onde */
.containerM > .SVG{
    height: 100px;
    width: 100%;
    background-image: url("../img/wave.svg");
}

.containerM > .SVG1{
    height: 100px;
    width: 100%;
    background-image: url("../img/wave.svg");
    transform: rotate(180deg);
}


.containerM > .item2 .item1{
    flex-basis: 20%;
    margin: 20px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
}

.containerM > .item2 .item1 h2{
    color: black;
    text-align: left;
    font-size: 40px;
}

.containerM > .item2 .item1 p{
    color: black;
    margin-top: 100px;
    font-weight: bold;
}

/* item3 */

.containerM > .item3{
    display: flex;
    justify-content: center; 
    background-color: white;
    margin: 20px 0px 20px 0px;
    min-height: 400px;
    width: 100%;
}

.containerM > .item3 .item1{
    flex-basis: 50%;
    font-size: 30px;
    background-color: rgb(184, 237, 255);
    border: 2px dashed black;
}

.containerM > .item3 .item2{
    flex-basis: 10%;
    background-color: rgb(255, 208, 216);
    border: 2px dashed black;
}

/* item4 */

.containerM > .item4{
    display: flex;
    justify-content: center; 
    background-color: rgb(238, 237, 237); 
    padding: 30px 0px 30px 0px;
    min-height: 1200px;
    width: 100%;
}

.containerM > .item4 .item1{
    flex-basis: 60%;
    background-color: green;
    border: 2px dashed black;
}


/*----------------stile sezione footer "container4"-----------------------*/

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap:wrap;
}

/* item1 */

.container4 > .item1{
    display: flex;
    justify-content: center; 
    background-color: rgb(63, 63, 63);  
    padding: 30px 0px 30px 0px;
    min-height: 1000px;
    width: 100%;
}

.container4 > .item1 .item1{
    flex-basis: 20%;
    background-color: pink;
    border: 2px dashed black;
}

.container4 > .item1 .item2{
    flex-basis: 10%;
    background-color: rgb(0, 195, 255);
    border: 2px dashed black;
}

/* item2 */

.container4 > .item2{
    display: flex;
    justify-content: center; 
    background-color: rgb(63, 63, 63);  
    margin: 1px 0px 0px 0px;
    padding-top: 30px;
    min-height: 150px;
    width: 100%;
}

.container4 > .item2 .item1{
    flex-basis: 60%;
    background-color: rgb(0, 255, 221); 
    border: 2px dashed black;
}

.container4 > .item2 .item1 .logo {
    flex-basis: 20%;
    min-height: 10px;
    background-color: pink;
    border: 2px dashed black;
}

.container4 > .item2 .item1 .button {
    flex-basis: 10%;
    min-height: 50px;
    font-size: 40px;
    float: right;
    background-color: pink;
    border: 2px dashed black;
}
